@media screen and (max-width: 800px) {
    #nameTitle {
        font-size: 80%;
    }
    #pageTitle:hover  {
        max-height: 200px;
        color: black;
    }
    #headerButton {
        font-size: 80%;
    }
    #pageTitle {
        text-align: center;
        padding: 5px;
    }
    #visibleContent {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #mainContent {
        margin: 10px 0;
        padding: 0 20px;
        text-align: center;
        font-size: 70%;
        width: auto;
    }
    #navPortrait {
        width: auto;
        margin: 20px 0
    }
    #navigationMenu {
        text-align: center;
        border-bottom: 5px solid black;
    }
    .content {
        opacity: 1;
        transition: none;
    }
    #navList {
        border-top: 5px solid black;
        margin: 0;
        font-size: x-large;
        padding: 10px 0px 0px 0px
    }
    #saList {
        list-style-type: none;
        text-align: center;
        padding: 0
    }
    .contentHeading {
        font-size: large;
    }
}