#htmlTitlePage {
    background: #0dab76;
    font-family: 'Exo 2', sans-serif;
}

#mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 3s ease;
}

#pageTitle {
    background-color: #816E94;
    color: rgb(222, 224, 204);
    padding: 5px;
    border: 30px solid #816E94;
    border-radius: 30px;
    box-shadow: 0px 0px 50px black;
    height: 37px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 600px;
    transition: max-width 3s ease, color 1.5s ease;
}

#pageTitle:hover {
    max-width: 950px;
    color: black;
}

#headerButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    transition: color 1.5s ease;
}

#headerButton:hover {
    color: white 
}

.hidden {
    display: none;
}