#htmlTitlePage {
    background: #F5EDF0;
    font-family: 'Exo 2', sans-serif;
}

#mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 3s ease;
}

#nameTitle {
    font-size: 50px;
}

#pageTitle {
    background-color: #424C55;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(222, 224, 204);
    padding: 0px 40px 35px 40px;
    border: 30px solid #424C55;
    border-radius: 30px;
    box-shadow: 0px 0px 15px black;
    max-height: 28px;
    overflow: hidden;
    max-width: 1000px;
    transition: max-height 2s, color 1.5s ease
}

#pageTitle:hover {
    max-height: 65px;
    color: black;
}

#headerButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    transition: color 1.5s ease;
}

#headerButton:hover {
    color: white 
}

.hidden {
    display: none;
}
#visibleContent {
    display: flex;
    justify-content: center;
}

#navList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-right: 35px;
    padding-bottom: 30px;
    transition: color 0.3s ease;
}

#navList a:hover {
    cursor: pointer;
    color:white
}

#navigationMenu {
    flex-direction: column;
    text-align: center;
    border-right: 5px solid black;
    border-top: 5px solid black;
    margin-left: 0vh;
}

#navPortrait {
    object-fit: cover;
    border: 5px solid black;
    border-radius: 40px;
    margin: 20px 10px 20px 0px;
}

#mainContent {
    line-height: 30px;
    padding: 20px 20px 20px 40px;
    flex-direction: column;
    width: 500px;
}

#objective,
#previousRoles,
#skillsAbilities,
#references,
#contactMe {
    display: none;
}

.content {
    opacity: 0;
    transition: opacity 3s ease;
}