body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    text-align: center;
}

h1, h2 {
    color: #333;
}

iframe, audio, video {
    justify-content: center;
    width: 100%;
}

form {
    margin-top: 20px;
}

label, input, select {
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 0px 0px 80px 0px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}