#htmlTitlePage {
    background: #695E4F;
    font-family: 'Exo 2', sans-serif;
}

#mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 3s ease;
}

#nameTitle {
    font-size: 50px;
}

#pageTitle {
    background-color: #8C6057;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 20px 65px 55px 65px;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    max-height: 28px;
    overflow: hidden;
    max-width: 1000px;
    transition: max-height 2s, color 1.5s ease
}

#pageTitle:hover  {
    max-height: 65px;
    color: white;
}

#pageTitle:hover #headerButton  {
    color: white;
}

#headerButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: #8C6057;
    transition: color 1.5s ease;
}

.hidden {
    display: none;
}
#visibleContent {
    display: flex;
    justify-content: center;
    
}

#navList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    line-height: 50px;
    margin: 20px 0px 0px 0px;
    padding-left: 0;
    padding-bottom: 30px;
    transition: color 0.3s ease;
}

#navList a:hover {
    cursor: pointer;
    color:white
}

#navigationMenu {
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    background: #968773;
    flex-direction: column;
    text-align: center;
    border: 5px solid black;
    margin-left: 0vh;
}

#navPortrait {
    object-fit: cover;
    border: 5px solid black;
    border-radius: 40px;
    margin: 20px 20px 0px 20px;
}

#mainContent {
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    background: #A69F98;
    border: 5px solid black;
    line-height: 30px;
    margin-left: 50px;
    padding: 20px 20px 20px 40px;
    flex-direction: column;
    width: 500px;
}

#objective,
#previousRoles,
#skillsAbilities,
#references,
#contactMe {
    display: none;
}

.content {
    opacity: 0;
    transition: opacity 3s ease;
}

.contentHeading {
    text-decoration: underline;
    font-size: xx-large;
    transition: color 0.3s ease;
}

#mainContent:hover .contentHeading {
    color: white;
}